table, td, th {
    border-collapse: collapse;
}
td, th {
    border-width: 1px;
    border-style: solid;
}
.second {
    padding-left: 60px;
}
.flex-container {
    display: flex;
}
.input-group {
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 5px;
    background-color: #e0e0f0;
}
.input-group label {
    font-size: 14px;
    display: block;
}
.input-group input {
    border: none;
    padding: 5px;
    font-size: 18px;
    height: 40px;
    width: 100%;
}

@media print {
    form.flex-container {
        display: none;
    }
}
