table, td, th {
    border-collapse: collapse;
}
td, th {
    border-width: 1px;
    border-style: solid;
    font-size: 20px;
}
.second {
    padding-left: 60px;
}
.flex-container {
    display: flex;
}
label, input {
    display: block;
    margin-bottom: 10px;
}
label {
    margin-right: 5px;
    font-weight: bold;
}
input {
    margin-right: 15px;
}

@media print {
    form.flex-container {
        display: none;
    }
}
